<% if(error && error.length > 0){ %>
<div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
        <%= error %>
    </div>
</div>
<% } %> <% if(success && success.length > 0){ %>
<div class="ui success message">
    <i class="close icon"></i>
    <div class="header"><%= success %></div>
</div>
<% } %>
