<% layout('layouts/boilerplate') -%>

<div class="ui teal secondary pointing menu">
    <a class="active item" href="/home">
        Socialite
    </a>
    <a class="item"> <i class="mail icon"></i> Messages </a>
    <a class="item"> <i class="grid layout icon"></i> Browse </a>
    <div class="ui simple dropdown item">
        More
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item"><i class="edit icon"></i> Edit Profile</a>
            <a class="item"><i class="globe icon"></i> Choose Language</a>
            <a class="item"><i class="settings icon"></i> Account Settings</a>
        </div>
    </div>
    <div class="right menu">
        <a class="ui item">
            Logout
        </a>
    </div>
</div>

<div class="ui internally celled grid">
    <div class="row">
        <div class="three wide column">
            <div class="ui link cards">
                <div class="card">
                    <div class="image">
                        <img
                            src="https://semantic-ui.com/images/avatar2/large/matthew.png"
                        />
                    </div>
                    <div class="content">
                        <div class="header">Molly</div>
                        <div class="meta">
                            <span class="date">Coworker</span>
                        </div>
                        <div class="description">
                            Molly is a personal assistant living in Paris.
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
                            Joined in 2011
                        </span>
                        <span>
                            <i class="user icon"></i>
                            35 Friends
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ten wide column">
            <div class="ui cards">
                <div class="ui card">
                    <div class="content">
                        <div class="right floated meta">14h</div>
                        <img
                            class="ui avatar image"
                            src="https://semantic-ui.com/images/avatar2/large/matthew.png"
                        />
                        Elliot
                    </div>
                    <div class="image">
                        <img
                            src="https://semantic-ui.com/images/wireframe/image.png"
                        />
                    </div>
                    <div class="content">
                        <span class="right floated">
                            <i class="heart outline like icon"></i>
                            17 likes
                        </span>
                        <i class="comment icon"></i>
                        3 comments
                    </div>
                    <div class="extra content">
                        <div class="ui large transparent left icon input">
                            <i class="heart outline icon"></i>
                            <input type="text" placeholder="Add Comment..." />
                        </div>
                    </div>
                </div>

                <div class="ui card">
                    <div class="content">
                        <div class="right floated meta">14h</div>
                        <img
                            class="ui avatar image"
                            src="https://semantic-ui.com/images/avatar2/large/matthew.png"
                        />
                        Elliot
                    </div>
                    <div class="image">
                        <img
                            src="https://semantic-ui.com/images/wireframe/image.png"
                        />
                    </div>
                    <div class="content">
                        <span class="right floated">
                            <i class="heart outline like icon"></i>
                            17 likes
                        </span>
                        <i class="comment icon"></i>
                        3 comments
                    </div>
                    <div class="extra content">
                        <div class="ui large transparent left icon input">
                            <i class="heart outline icon"></i>
                            <input type="text" placeholder="Add Comment..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui small feed">
                <div class="event">
                    <div class="label">
                        <img
                            src="https://semantic-ui.com/images/avatar2/large/matthew.png"
                        />
                    </div>
                    <div class="content">
                        <div class="summary">
                            <a class="user">
                                Elliot Fu
                            </a>
                            added you as a friend
                            <div class="date">
                                1 Hour Ago
                            </div>
                        </div>
                        <div class="meta">
                            <a class="like">
                                <i class="like icon"></i> 4 Likes
                            </a>
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="label">
                        <i class="pencil icon"></i>
                    </div>
                    <div class="content">
                        <div class="summary">
                            You submitted a new post to the page
                            <div class="date">
                                3 days ago
                            </div>
                        </div>
                        <div class="extra text">
                            I'm having a BBQ this weekend. Come by around 4pm if
                            you can.
                        </div>
                        <div class="meta">
                            <a class="like">
                                <i class="like icon"></i> 11 Likes
                            </a>
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="label">
                        <img
                            src="https://semantic-ui.com/images/avatar2/large/matthew.png"
                        />
                    </div>
                    <div class="content">
                        <div class="date">
                            4 days ago
                        </div>
                        <div class="summary">
                            <a>Helen Troy</a> added <a>2 new illustrations</a>
                        </div>
                        <div class="extra images">
                            <a
                                ><img
                                    src="https://semantic-ui.com/images/wireframe/image.png"
                            /></a>
                            <a
                                ><img
                                    src="https://semantic-ui.com/images/wireframe/image.png"
                            /></a>
                        </div>
                        <div class="meta">
                            <a class="like">
                                <i class="like icon"></i> 1 Like
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
