* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100vh;
}

a {
    color: #00b7ff;
}
.a__tag {
    color: black;
}

.ui.center.aligned.basic.segment.create_post {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
}

.ui.column.grid .column.show-post {
    display: flex;
    justify-content: center;
}

.ui.column.grid .column.show-post__show-comment {
    padding: 1rem 10rem 1rem 0;
    margin: 0rem;
}
